[Unit]
Description=Ansible task
After=network-manager.service

[Service]
Type=simple
WorkingDirectory=/var/www/ansbile_task/
ExecStart=/usr/bin/python3 /var/www/ansible_task/main.py

[Install]
WantedBy=multi-user.target
