[Unit]
Description=Ansible task
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/vagrant/
ExecStart=/usr/bin/python3 /home/vagrant/flask_app.py

[Install]
WantedBy=multi-user.target
