[Unit]
Description=Ansible task
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/andersen/
ExecStart=/usr/bin/python3 /home/andersen/flask_app.py

[Install]
WantedBy=multi-user.target
